(function() {
  // Initialize design data namespace
  if (!window.{{ window_variable }}) window.{{ window_variable }} = {};

  // Store data for the specific mode
  window.{{ window_variable }}["{{ mode if mode else 'default' }}"] = {
    "name": {{ name | tojson }},
    "unique_id": {{ unique_id | tojson }},
    "entity_type": {{ entity_type | tojson }},
    "namespace": {{ namespace | tojson }},
    "path": {{ path | tojson }},
    "compute_unit": {{ compute_unit | tojson }},
    "vis_guide": {{ vis_guide | tojson }},
    "in_ports": {{ in_ports | tojson }},
    "out_ports": {{ out_ports | tojson }},
    "children": {{ children | tojson }},
    "links": {{ links | tojson }},
    "events": {{ events | tojson }},
    "parameters": {{ parameters | tojson }}
    {% if mode is defined %}
    , "mode": {{ mode | tojson }}
    {% endif %}
  };
})();
