const deploymentConfig = {
    deploymentName: "{{ deployment_name }}",
    packageName: "{{ package_name }}",
    systemsIndexPath: "{{ systems_index_path }}",
    availableModes: {{ available_modes | tojson }},
    defaultMode: "{{ default_mode }}",
    availableDiagramTypes: {{ available_diagram_types | tojson }},
    defaultDiagramType: "{{ default_diagram_type }}",
    editorScheme: {{ editor_scheme | tojson }},
    systemDefinitionFile: {{ system_definition_file | tojson }}
};
